html
  head
    link(href="/assets/bootstrap.min.css", rel="stylesheet")
    title My Site

  body
    .container.wrapper.flex-grow-1
      block header
        ul.nav 
          li.nav-item 
            a.nav-link.active(aria-curent="page" href='/') Главная
          li.nav-item 
            a.nav-link(aria-curent="page" href='/users') Пользователи
          li.nav-item 
            a.nav-link(aria-curent="page" href='/users/new') Добавить
      block content
      block foot
        #footer.text-center.text-lg-start.bg-light.text-muted
          div.text-center.p-4
            a(href='https://github.com/') My github