extends ../layouts/page.pug

block content
  form.input-group(role = 'form' method = 'GET' action = '/users')
    input.form-control.rounded(type = 'search', name = 'term', value = term)
    input.btn.btn-outline-primary(type = 'submit' value = 'search')

  table.table.table-striped
    tr
      th Имя пользователя
      th Емейл пользователя
    each user in users
      tr
        td
          a(href='/users/' + user.name) #{user.name}
        td= user.email