extends ../layouts/page.pug

block content
  if error
    p= error.message 

  form(action = route('users'), method = 'post')
    div
      label Имя:
        input.form-control(type = 'text', name = 'name', value = name, required = true)
    div
      label Email:
        input.form-control(type = 'email', name = 'email', value = email, required = true)
    div
      label Пароль:
        input.form-control(type = 'password', name = 'password', value = password, required = true)
    div
      label Подтверждение пароля:
        input.form-control(type = 'password', name = 'passwordConfirmation', value = passwordConfirmation, required = true)
    input.btn.btn-primary(type = 'submit', value = 'Зарегистрировать')